<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StockMarketGamePriceUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="SSHSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <SSHSettings>
    <add key="SshHost" value="jamstockex.com"></add>
    <add key="SshPort" value="22"></add>
    <add key="SshUserName" value="probinson"></add>
    <add key="SshPassword" value=""></add>
    <add key="SshLocalForwardPort" value="3333"></add>
    <add key="SshRemotePort" value="3306"></add>
    <add key="SshRemoteHost" value="192.168.155.80"></add>
    <add key="SshLocalForwardHost" value="127.0.0.1"></add>
    <add key="SshPrivateKeyFile" value="PK\jseopensshformatkey.ppk"></add>
    <add key="requireLocalForwarding" value="Y"></add>
  </SSHSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <StockMarketGamePriceUpload.Properties.Settings>
      <setting name="WebRepoSQLConnection" serializeAs="String">
        <value>Data Source=10.240.18.202;Initial Catalog=WebRepository;User ID=jse_webapps;Password=St0ckExch@ng3;</value>
      </setting>
      <setting name="QueryProcedure" serializeAs="String">
        <value>dbo.usp_GetStockMarketGamePrices</value>
      </setting>
      <setting name="ProdTableName" serializeAs="String">
        <value>jseweb_stock_price</value>
      </setting>
      <setting name="FieldTerminator" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="LineTerminator" serializeAs="String">
        <value>\r\n</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>C:\Data\Waiting\StockPrices.csv</value>
      </setting>
      <setting name="NumberOfLinesToSkip" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="JseWebsiteTesting" serializeAs="String">
        <value>Server=127.0.0.1;Uid=stockgame;Database=jsewebsite;Port=3333;Pwd=neB8Um5Jeg6oW9uB;</value>
      </setting>
      <setting name="JseWebsiteTraning" serializeAs="String">
        <value>Server=127.0.0.1;Uid=probinson;Database=jsewebsite;Port=3333;Pwd=neB8Um5Jeg6oW9uB;</value>
      </setting>
      <setting name="TestingTableName" serializeAs="String">
        <value>jseweb_stock_price</value>
      </setting>
      <setting name="TrainingTableName" serializeAs="String">
        <value>jseweb_stock_price</value>
      </setting>
      <setting name="Environments" serializeAs="String">
        <value>Production,Training,Testing</value>
      </setting>
      <setting name="JseWebSiteProd" serializeAs="String">
        <value>Server=127.0.0.1;Uid=stockgame;Database=jsewebsite;Port=3333;Pwd=neB8Um5Jeg6oW9uB;</value>
      </setting>
      <setting name="ProductionSSHParams" serializeAs="String">
        <value>Host=Jamstockex.com;UserName=stockgame;Port=22;Password=;PrivateKeyfilePath=C:\Keys\PrivateKey-JamstockexSite_OpenSSHFormat.ppk;LocalForwardedPort=3333;RemoteHost=192.168.155.80;RemotePort=3306;</value>
      </setting>
      <setting name="DestinationLookupQuery" serializeAs="String">
        <value>SELECT * FROM jseweb_stock_price WHERE  TradeDate IN (@Date)</value>
      </setting>
      <setting name="TraningSSHParams" serializeAs="String">
        <value>Host=testing.Jamstockex.com;UserName=stockgame;Port=22;Password=;PrivateKeyfilePath=C:\Keys\PrivateKey-JamstockexSite_OpenSSHFormat.ppk;LocalForwardedPort=3333;RemoteHost=192.168.155.80;RemotePort=3306;</value>
      </setting>
      <setting name="TestingSSHParams" serializeAs="String">
        <value>Host=testing.jamstockex.com;UserName=stockgame;Port=22;Password=;PrivateKeyfilePath=C:\Keys\PrivateKey-JamstockexSite_OpenSSHFormat.ppk;LocalForwardedPort=3333;RemoteHost=192.168.155.80;RemotePort=3306;</value>
      </setting>
    </StockMarketGamePriceUpload.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.7.0" newVersion="6.8.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>