<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>

    <target
      name="console"
      xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${message}" />

    <target
      name="file"
      xsi:type="File"
      fileName="${basedir}/Logs/Log-${shortdate}.Log"
     layout="${message}" />

    <target
    name="eventLog"
    xsi:type="EventLog"
    machineName="."
    source="JseSystemMonitor"
    log="Application"
    layout="${message}" />

  <!--  <target 
	name="Mail" 
	xsi:type="Mail" 
	html="true" 
	subject="Error Received" 
	body="${message}"      
	
         to="jseitgroup@jamstockex.com"
         from="jsereporter@jamstockex.com"
         Encoding="UTF-8"
         smtpUsername="user@someemail.com"
         enableSsl="True"
         smtpPassword=""
         smtpAuthentication="Basic"
         smtpServer="exrelay-ca1.serverdata.net"
         smtpPort="" /> -->
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
    <!-- <logger name="*" minlevel="Trace" writeTo="console,file,eventLog,Mail" /> -->
  </rules>
</nlog>